{% extends '/Layout/Templates/base.html.twig' %}

{% block content %}
  {{ form_start(form) }}
  <div class="row fork-module-content">
    <div class="col-md-12">
      <div class="tabpanel">
        <ul class="nav nav-tabs" role="tablist">

          {# Content tabs #}
          {% for locale, translationField in form.translations %}
            {% set tabName = 'tab' ~ locale|ucfirst %}
            <li role="presentation" {% if loop.first %}class="active"{% endif %}>
              <a href="#{{ tabName }}"
                 aria-controls="{{ tabName }}" role="tab" data-toggle="tab">
                {{ locale|upper|tolabel|ucfirst }}</a>
            </li>
          {% endfor %}

          {# Addresses #}
          <li role="presentation">
            <a href="#tabAddresses"
               aria-controls="media" role="tab" data-toggle="tab">{{ 'lbl.Addresses'|trans|ucfirst }}</a>
          </li>

            {# Media #}
          <li role="presentation">
            <a href="#tabMedia"
               aria-controls="media" role="tab" data-toggle="tab">{{ 'lbl.Media'|trans|ucfirst }}</a>
          </li>

          {# SEO tabs #}
          {% for locale,translationField in form.translations|reverse %}
            {% set tabName = 'tabSEO' ~ locale|ucfirst %}
            <li class="pull-right" role="presentation">
              <a href="#{{ tabName }}" aria-controls="{{ tabName }}" role="tab" data-toggle="tab">{{ 'lbl.SEO'|trans|ucfirst }} {{ locale|upper|tolabel }}</a>
            </li>
          {% endfor %}
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane" id="tabMedia">
              {# Only include the BackendMediaGroupsHelper once #}
              {% include "MediaLibrary/Resources/views/BackendMediaGroupsHelper.html.twig" %}

              {{ form_widget(form.images, {'mediaGroup': mediaGroup}) }}
          </div>

          <div role="tabpanel" class="tab-pane" id="tabAddresses">
            <div class="row fork-module-content">
              <div class="col-md-12">
                  {% if form.addresses|length %}
                      {{ form_row(form.addresses) }}
                  {% else %}
                    <div class="alert alert-warning">{{ 'msg.NoAddressesAvailable'|trans }}</div>
                      {% do form.addresses.setRendered() %}
                  {% endif %}
              </div>
            </div>
          </div>

          {# SEO tab contents #}
          {% for locale,translationField in form.translations %}
            {% set tabName = 'tab' ~ locale|ucfirst %}
            {% set SEOTabName = 'tabSEO' ~ locale|ucfirst %}
            <div role="tabpanel" class="tab-pane" id="{{ SEOTabName }}">
              <h2>{{ locale|upper|tolabel }}</h2>
              <div class="row">
                {{ form_widget(translationField.meta) }}
              </div>
            </div>
            <div role="tabpanel" class="tab-pane {% if loop.first %}active{% endif %}" id="{{ tabName }}">
              <h2>{{ locale|upper|tolabel }}</h2>
              {{ form_rest(translationField) }}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="row fork-module-actions">
    <div class="col-md-12">
      <div class="btn-toolbar">
        <div class="btn-group pull-left" role="group">
          {% if showAddressesDeleteGroup %}
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDelete">
              <span class="fa fa-trash-o"></span>
              {{ 'lbl.Delete'|trans|ucfirst }}
            </button>
          {% endif %}
        </div>
        <div class="btn-group pull-right" role="group">
          <button id="editButton" type="submit" name="edit" class="btn btn-primary">
            <span class="fa fa-floppy-o"></span>&nbsp;
            {{ 'lbl.Save'|trans|ucfirst }}
          </button>
        </div>
      </div>
    </div>
    {% if showAddressesDeleteGroup %}
      <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <span class="modal-title h4">{{ 'lbl.Delete'|trans|ucfirst }}</span>
            </div>
            <div class="modal-body">
              <p>{{ 'msg.ConfirmDelete'|trans|format(name)|raw }}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">
                <span class="fa fa-times"></span>{{ 'lbl.Cancel'|trans|ucfirst }}
              </button>
              <a href="{{ geturl('DeleteGroup') }}&id={{ id }}" class="btn btn-danger">
                <span class="fa fa-trash"></span>{{ 'lbl.Delete'|trans|ucfirst }}
              </a>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
  {{ form_end(form) }}
{% endblock %}
