{% extends '/Layout/Templates/base.html.twig' %}

{% block actionbar %}

{% endblock %}

{% block content %}
  {{ form_start(form) }}
  <div class="row fork-module-content">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            {{ 'lbl.Settings'|trans|ucfirst }}
          </h3>
        </div>
        <div class="panel-body">
          {{ form_rest(form) }}
        </div>
      </div>
    </div>
  </div>

  <div class="row fork-module-actions">
    <div class="col-md-12">
      <div class="btn-toolbar">
          <div class="btn-group pull-right" role="group">
            <button id="save" type="submit" name="save" class="btn btn-primary">
              <span class="fa fa-floppy-o"></span>{{ 'lbl.Save'|trans|ucfirst }}
            </button>
          </div>
      </div>
    </div>
  </div>
  {{ form_end(form) }}
{% endblock %}
